@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
:root {
  --background: #F8FAFC;
  --foreground: #020817;
  --border-color: #d1d5db;

  --primary: #0f766e;
  --secondary: #e5e7eb;
  --accent: #0d9488;
  --overlay-color: rgba(0, 0, 0, 0.08);
  /* Light Mode */
}

/* Dark Mode */
.dark {
  --background: #020817;
  --foreground: #F8FAFC;
  --border-color: #182660;

  --primary: #0f766e;
  --secondary: #0a0c11;
  --accent: #0d9488;
  --overlay-color: rgba(255, 255, 255, 0.1);
  /* Dark Mode */
}

/* Smooth Theme Transition */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetBrainsMono), sans-serif; /* Now it works */
  transition: background 0.3s ease, color 0.3s ease;
}

/* Tailwind Dark Mode Support */
.dark body {
  background-color: var(--background);
  color: var(--foreground);
}

select option {
  background-color: var(--background);
  color: var(--foreground);
}

/* Dark mode options */
.dark select option {
  background-color: var(--secondary);
  color: var(--foreground);
}

/* Focus state: Ensure primary color applies */
select:focus option {
  background-color: var(--primary) !important;
  color: white !important;
}